{{ $item := .item }}

<div class="news-list-item">

  <div class="news-list-date">
    {{ $item.Date.Format "Jan 2006" }}
  </div>

  <div class="news-list-content">

    {{ with $item.Params.category }}
      <span class="news-category news-category-{{ . | lower }}">
        {{ . }}
      </span>
    {{ end }}

    <span class="news-list-title">
      <a href="{{ $item.RelPermalink }}">
        {{ $item.Title }}
      </a>
    </span>
    {{ if $item.Params.more }}
      <a href="{{ $item.RelPermalink }}" class="news-more-link">
        Read more →
      </a>
    {{ end }}

  </div>

</div>